
<div id='comment-<%= comment.id %>'>
    
    <li>            
        <strong><%= comment.user.user_name %>:</strong>

        [<%= comment.created_at_str %>]

        <%= comment.body %>
        
        <!--or if commentable root user-->
        <% if current_user == comment.user || current_user.admin %>
        
        <%= link_to '[/]', edit_polymorphic_path([commentable, comment]), id: 'edit-' + comment.id.to_s %>
        
        <%= link_to '[X]', [commentable, comment], method: :delete, remote: true, data: {confirm: 'Are you sure?'} %>
        
        <% end %>
        
        <% if commenting_available %>
            
        <ul>
            <%= render 'comments/comment_panel', commentable: comment, commenting_available: false %>
            <li>    
                <%= render 'comments/form', commentable: comment, comment: Comment.new %>
            </li>
        </ul>
        <% end %>
            
    </li>
          
</div>
