<li>
    <div class="card card-primary" data-conversation-id="<%= conversation.id %>">
        <div class="card-header d-flex justify-content-between">
            <%= link_to conversation.opposed_user(user).user_name, '', class: 'toggle-chat-window' %>

            <%= link_to "x", close_conversation_path(conversation), class: "btn btn-primary btn-sm", remote: true, method: :post %>

            
        </div>

        <div class="card-body" style="display: none;">
            <div class="messages-list">
                <ul class="pl-0" style="list-style: none;">
                    <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
                </ul>
            </div>


            <form class="new_message">
                <input name="conversation_id" type="hidden" value="<%= conversation.id %>">
                <input name="user_id" type="hidden" value="<%= user.id %>">
                <textarea name="body" class="form-control"></textarea>
                <input type="submit" class="btn btn-success" value="Send">
            </form>
            <%#= form_for [conversation, conversation.messages.new], remote: true do |f| %>
                <%#= f.hidden_field :user_id, value: user.id %>
                <%#= f.text_area :body, class: "form-control" %>
                <%#= f.submit "Send", class: "btn btn-success" %>
            <% #end %>

        </div>
    </div>            
</li>